<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <tbody>
    <td th:text="${userk.getUsername()}"> name </td><div>NAAAAAAAAAAAAAAAAAAAAAAAa</div>
    <td th:text="${userk.getEmail()}"> name </td><div>NAAAAAAAAAAAAAAAAAAAAAAAa</div>
    <td th:text="${userk.getRoles()}"> name </td><div>NAAAAAAAAAAAAAAAAAAAAAAAa</div>


    <tr th:each="user : ${users}">
        <td th:text="${user.getUsername()}"> name </td>
    </tr>
    </tbody>
</div>
</body>
</html>